$top: 35px;
$pointerMargin: -5px;
$anchorTextColor: #fff;
$panelBackgroundColor: transparent;
$panelBorderColor: #ccc;
$anchorBgColor: #acb7c0;
$timelineCenterColor: #cccccc;

.timeline {
  padding: 0;
  list-style: none;
  position: relative;
}

// center line
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: $timelineCenterColor;
  left: 20%;
  margin-left: -1.5px;
}

timeline ul li.timeline-beginning {
  display:block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: 0;
  margin-left: -10px;
  margin-bottom:40px;
}

timeline-badge, .timeline-beginning {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.0em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 20%;
  margin-left: -15px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

// li is timeline-event
.timeline li {
  margin-bottom: 0px;
  position: relative;

  .timeline-footer {
    margin-top: 10px;
    padding: 10px 0;

    a {
      color: $anchorTextColor;
      background-color: $anchorBgColor;
      border-radius: 0.25em;
      padding: 0.8em 1em;
      margin: 0;
    }
  }

  timeline-badge.primary {
    background-color: #2e6da4 !important;
  }

  timeline-badge.normal {
    background-color: #cccccc !important;
  }
  timeline-badge.success {
    background-color: #3f903f !important;
  }

  timeline-badge.warning {
    background-color: #f0ad4e !important;
  }

  timeline-badge.danger {
    background-color: #d9534f !important;
  }

  timeline-badge.info {
    background-color: #5bc0de !important;
  }

  .timeline-title {
    margin-top: 0;
  }

  timeline-panel > * {
    margin: 0;
  }

  timeline-panel {
    background-color: $panelBackgroundColor;
    float: right;
    padding: 12px;
    position: relative;
  }

  timeline-legend {
    float: left;
    padding-top: 22px;
    padding-right: 40px;
    text-align: right;
    width: 20%;
  }
}

.timeline-heading {
  .glyphicon {
    margin-right: 4px;
    vertical-align: -1px;
  }
}

.timeline li:before,
.timeline li:after {
  content: " ";
  display: table;
}

.timeline li:after {
  clear: both;
}

.timeline li:before,
.timeline li:after {
  content: " ";
  display: table;
}

.timeline li:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  ul.timeline li timeline-panel {
    width: calc(80% - 45px);
    width: -moz-calc(80% - 45px);
    width: -webkit-calc(80% - 45px);
  }
}

@media only screen and (max-width: 767px) {

  ul.timeline:before {
    left: 40px;
  }

  ul.timeline li timeline-panel {
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 85px);
  }

  ul.timeline li timeline-badge {
    left: 25px;
    margin-left: 0;
    top: $top + 1;
  }

  ul.timeline li.timeline-beginning {
    left: 30px;
    margin-left: 0;
    top: 0;
  }

  ul.timeline li timeline-panel {
    float: right;
  }

  ul.timeline li timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    top: $top + 11px;
  }

  ul.timeline li timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    top: $top + 12px;
  }
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 3px;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  moz-transition: all .2s ease-in-out;
  o-transition: all .2s ease-in-out;
  padding: 2px;
  transition: all .2s ease-in-out;
  webkit-transition: all .2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}
